body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    line-height: 1.6;
    justify-content: space-around;
}

.container {
    float: left;
    width: 73%;
    margin-right: 2%;
    overflow: hidden;
}

.container.left {
    width: 20%;
    padding-left: 2%;
    margin-left: -20px;
    margin-top: -10px;
    border-radius: 5%;
    background-color: #e9e0c8;
    color: black;
    padding-bottom: 300px;

}

img, video {
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
    border-bottom: 1px solid #ddd;
}

tr{
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #000000;
    text-decoration: none;
}


.accessibility {
    font-size: 0.9em;
    color: #666;
}

.column-año {
    width: 20%;
}

.column-título {
    width: 40%;
}

.column-institución, .column-empresa {
    width: 40%;
}

.fotografia {
    width: 250px;
    height: 250px;
    border-radius: 50% / 50%;
    object-fit: cover;
    object-position: center;
  }

  video {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 500px; 
  }

